bin/
*.swp
*~
lib/
*.so*
os/
configuration/
uvc_locater
*/O.*
*/dbd/*
db/
dbd/
envPaths
include
O.Common/
O.linux-x86_64/
capture_test
.vscode/
auto_settings.sav*
debug.*
*.jpg
OLD_FILES/
*_BAK.adl
ptz_test
pt_test
zoom_test
